.slider {
  overflow: hidden;
}
.slider > img {
  animation: 15s linear infinite loop;
}
@keyframes loop {
  100% {
    transform: translateX(calc(96px * 24));
  }
}
.slider:hover {
  animation-play-state: paused;
}
